#about {
    padding: var(--gap-lg) 1rem;
    min-height: calc(100vh - 70px);
}

.about-section .section-inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-text {
    width: 60%;
}

.about-text p {
    color: var(--text-color);
    font-size: var(--body-size);
}

.about-image {
    width: 40%;
    border-radius: 0.75rem;
    box-shadow: var(--card-shadow);
}

.about-image img {
    width: 100%;
    border-radius: 0.75rem;
    box-shadow: var(--card-shadow);
}
