.social-media-buttons {
    display: flex;
    gap: 10px;
}

.social-media-buttons a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: #fff;
    font-size: 1.2rem;
    border-radius: 10px;
    color: #1d1d1dad !important;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.social-media-buttons a:hover {
    box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.1);
}