.container-content {
    min-height: 100vh;
    width: 100vw;
    margin: 0;
}

.content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.link-home {
    width: fit-content;
}

.link-home:hover {
    opacity: 0.75;
}

.image-background-forms {
    width: 350px;
    min-height: 350px;
    max-height: 100vh;
}

label {
    font-size: 1.0rem;
}

.form-control:focus {
    border-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px 2px var(--box-shadow);
}