.summary-sticky {
  position: sticky;
  top: 2rem;
}

.summary-line {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0.75rem;
  font-size: 1rem;
  color: #555;
}

.summary-line span:last-child {
  font-weight: 600;
  color: #333;
}

.summary-divider {
  height: 1px;
  background-color: #eee;
  margin: 1.5rem 0;
}

.summary-total {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  font-weight: 700;
  color: #379220;
}