.product-title {
  font-size: 1.5rem;
  margin: 0.25rem 0;
}
.product-price-section {
  margin: 0.5rem 0;
}
.product-price {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}
.price-value {
  font-size: 1.5rem;
  color: var(--green);
  font-weight: 700;
}
.w-6rem {
  width: 6rem;
}

.product-rating span {
    font-size: 1.5rem;
}

.product-rating .avaliations {
    font-size: 1rem;
}
