.product-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  margin-top: 1rem;
}

.product-actions .button-action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}