@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

/* VARIAVEIS */
:root {
    --primary-color: #d91e2e;
    --primary-color-darker: #79131c;
    --primary-color-darker-hover: #550d13;

    --text-color: #212121;
    --text-color-hover: #4d4d4d;
    --secondary-color: #ff4949;
    --box-shadow: rgb(0, 0, 0, 0.1);

    --background-color: #fffbe2;
    --gray-bg: #eeeeee;
    --gray-bg-hover: #c4c4c4;
    --gray-secondary-bg: #f1f3f6;

    --green: #008000;
    --green-hover: #006100;
    --white: #ffffff;
    --black: #000000;
}

/* ESTILIZACAO GLOBAL */
body {
    background-color: var(--background-color);
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: "Sora", sans-serif;
}

.home-main {
    margin-top: 70px !important;
    min-height: 100vh;
    display: block;
}

.rating {
  color: #fbbf24;
}

.container-input {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2rem;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Animação de spin para ícones */
.pi-spin,
.pi.pi-spin,
i.pi-spin {
    animation: spin 1s linear infinite !important;
    display: inline-block !important;
}

/* Spinner específico */
.pi-spinner {
    animation: spin 1s linear infinite !important;
}

.pi.pi-spin.pi-spinner {
    animation: spin 1s linear infinite !important;
}